appId: com.example.Wchat

publish:
    provider: github
    token: YOUR_GITHUB_TOKEN

files:
    [
        "dist/**/*",
        "build/**/*",
        "node_modules/**/*",
electron-builder.yaml        "package.json",
        "build/icon.*",
    ]

directories:
    buildResources: assets

icon: ./build/icon.ico
